__pycache__/
*.egg-info/
*.spec
*.log
*.db
*.sqlite
*.pypackage
*.egg
*.zip
*.tar.gz
*.whl
.tox/
.nox/
.mypy_cache/
.pytest_cache/
.ipynb_checkpoints/
.eggs/
.egg-info/
dist/
build/
local_settings.py
db.sqlite3
db.sqlite3-journal
instance/
.mypy_cache/
.pytest_cache/
.ipynb_checkpoints/
.eggs/
.egg-info/
dist/
build/
local_settings.py
db.sqlite3
db.sqlite3-journal
instance/
